@import "tailwindcss";

@theme inline {
  --color-burgundy: #770523;
  --color-fucsia: #D81A67;
  --color-blood-orange: #DD4E28;
  --color-peonia: #FAD2E1;
  --color-pistache: #D0D996;
  --color-creme: #FAF4EE;
  --color-creme-dark: #F0E8DE;

  --font-display: var(--font-cormorant);
  --font-body: var(--font-dm-sans);
  --font-curved: var(--font-dekko);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-creme);
  color: var(--color-burgundy);
  font-family: var(--font-body);
}

::selection {
  background-color: var(--color-peonia);
  color: var(--color-burgundy);
}
